{% include 'Partials/base.twig' %}
<div class="container text-center">
    <br>
    <div class="alert alert-danger" role="alert">
        <h1>Page not found!</h1>
    </div>
</div>
{% include 'Partials/footer.twig' %}