{% include 'Partials/base.twig' %}

<section class="main-content">
    <div class="crypto-container search-results">
        {% for crypto in cryptoCollection.getCryptoCurrencies() %}
            <div class="crypto-box">
                <h2>{{ crypto.getSymbol() }}</h2>
                <p>Change: {{ crypto.getPriceChange() }}</p>
                <p>Change (%): {{ crypto.getPriceChangePercent() }}</p>
            </div>
        {% endfor %}
    </div>
</section>

{% include 'Partials/footer.twig' %}
